$main_background: #224941;
$body_border_color: #6e32aa;
$text_color: #d3d3d3;

body {
    margin: 0;
    padding: 0;
    background-color: $main_background;
    color: $text_color;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: transparent;
}

.bg-main  {
    background-color: $main_background;
}

.content {
    height: 100vh;
}

.body-border {
    position: fixed;

    background-color: $body_border_color;
    background-image: url('../images/skull.svg');
    background-repeat: space;

    &--left, &--right {
        top: 50px;
        bottom: 50px;
        width: 25px;
        background-size: 16px 5vh;
        background-position: center;
    }
    &--left { left: 0; }
    &--right { right: 0; }

    &--top, &--bottom {
        left: 50px;
        right: 50px;
        height: 25px;
        background-size: 5vw 16px;
        background-position: center;
    }
    &--top { top: 0; }
    &--bottom { bottom: 0; }
}

.body-border-corner {
    height: 50px;
    width: 50px;
    position: fixed;
    display: block;

    border-width: 3px;
    border-style: solid;
    border-color: $main_background;

    background-color: $body_border_color;
    background-image: url('../images/skull.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;


    &--top-left { top: 0; left: 0; }
    &--top-right { top: 0; right: 0; }
    &--bottom-left { bottom: 0; left: 0; }
    &--bottom-right { bottom: 0; right: 0; }
}